<div
  class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 p-4 rounded-lg bg-purple-black"
>
  <div class="relative">
    <button
      id="dropdownActionButton"
      (click)="toggleDropdown()"
      class="inline-flex items-center text-gray-500 bg-white border border-gray-300 hover:bg-gray-200 font-medium rounded-lg text-sm px-3 py-1.5"
      type="button"
    >
      {{ selectedOption || "All" }}
      <svg
        class="w-2.5 h-2.5 ms-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>

    <!-- Dropdown menu -->
    <div
      *ngIf="isDropdownOpen"
      class="z-10 absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
    >
      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
        <li
          *ngFor="let option of dropdownOptions"
          (click)="handleFilters(option)"
          (keyup.enter)="handleFilters(option)"
          tabindex="0"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
        >
          {{ option }}
        </li>
      </ul>
    </div>
  </div>

  <app-button
    label="Create task"
    [type]="ButtonType.PRIMARY"
    (clickAction)="toggleModalCreateTask.emit()"
  ></app-button>
</div>
